{% extends "index.html.twig" %}

{% block styles %}
    <link rel="stylesheet" href="/css/tareas/tareas.css">
{% endblock %}

{% block scripts %}
    <script src="/js/slideslow.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/muestra-blog.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/contador.js"></script>

    <script src="/js/tareas/tareas.js"></script>
{% endblock %}

{% block content %}

    <div class="cuerpo">
        <div class="contenido">
            {% if nombre_curso %}
                <h1 class="tareas_title">Editando: Tareas para alumnos de {{ nombre_curso }}</h1>
                {% if tareas %}
                    <div id="mensaje" style="display:none"></div>
                    <datalist id="suggestions">
                        {% for asignatura in asignaturas %}
                            <option value="{{ asignatura }}">
                            {% endfor %}
                    </datalist>

                    <table class="tareas_table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Descripción de la tarea</th>
                                <th>Asignatura / Módulo</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for tarea in tareas %}
                                <tr id="fila_tarea{{ tarea.id_tarea }}">
                                    <td><button onclick="borrar({{ tarea.id_tarea }})">Borrar</button></td>
                                    <td>
                                        <div class="flexbox stretch">
                                            <input type="hidden" 
                                                   id="descripcion_original{{ tarea.id_tarea }}" 
                                                   value="{{ tarea.descripcion }}">

                                            <input type="text" 
                                                   size="50"
                                                   id="descripcion{{ tarea.id_tarea }}" 
                                                   value="{{ tarea.descripcion }}" 
                                                   oninput="comprobar_cambio ('descripcion',{{ tarea.id_tarea }})"
                                                   onblur="restaurar_campo_si_vacio('descripcion', {{ tarea.id_tarea }})"
                                                   onkeyup="return enviarEnter(event, 'descripcion', {{ tarea.id_tarea }})"
                                                   >
                                        </div>
                                        <div style="display:none" class="btn_campo" id="btns_descripcion{{ tarea.id_tarea }}" >
                                            <button title="{{ editar_campo_ok_tooltip }}"
                                                    onclick="modificar_campo('descripcion', {{ tarea.id_tarea }})">{{ editar_campo_ok }}</button>

                                            <button title="{{ editar_campo_cancelar_tooltip }}"
                                                    onclick="restaurar_campo('descripcion', {{ tarea.id_tarea }})">{{ editar_campo_cancelar }}</button>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="flexbox stretch">
                                            <input type="hidden" 
                                                   class="asignatura"
                                                   id="asignatura_original{{ tarea.id_tarea }}" 
                                                   value="{{ tarea.asignatura }}">

                                            <input type="text" value="{{ tarea.asignatura }}" 
                                                   id="asignatura{{ tarea.id_tarea }}" 
                                                   list="suggestions" 
                                                   oninput="comprobar_cambio ('asignatura', {{ tarea.id_tarea }})"
                                                   onclick="this.value = ''"
                                                   onblur="restaurar_campo_si_vacio('asignatura', {{ tarea.id_tarea }})"
                                                   onkeyup="enviarEnter(event, 'asignatura', {{ tarea.id_tarea }})">                  
                                        </div>
                                        <div style="display:none" class="btn_campo" id="btns_asignatura{{ tarea.id_tarea }}" >
                                            <button title="{{ editar_campo_ok_tooltip }}"
                                                    onclick="modificar_campo('asignatura', {{ tarea.id_tarea }})">{{ editar_campo_ok }}</button>

                                            <button title="{{ editar_campo_cancelar_tooltip }}"
                                                    onclick="restaurar_campo('asignatura', {{ tarea.id_tarea }})">{{ editar_campo_cancelar }}</button>

                                        </div>
                                    </td>
                                    <td>
                                        <div class="flexbox stretch">
                                            <input type="hidden" 
                                                   id="fecha_original{{ tarea.id_tarea }}" 
                                                   value="{{ tarea.fecha }}">

                                            <input type="date"
                                                   id="fecha{{ tarea.id_tarea }}" 
                                                   value="{{ tarea.fecha }}"
                                                   oninput="comprobar_cambio ('fecha', {{ tarea.id_tarea }})"
                                                   onblur="restaurar_campo_si_vacio('fecha', {{ tarea.id_tarea }})"
                                                   onkeyup="enviarEnter(event, 'fecha', {{ tarea.id_tarea }})">
                                        </div>
                                        <div style="display:none" class="btn_campo" id="btns_fecha{{ tarea.id_tarea }}" >
                                            <button title="{{ editar_campo_ok_tooltip }}"
                                                    onclick="modificar_campo('fecha', {{ tarea.id_tarea }})">{{ editar_campo_ok }}</button>

                                            <button title="{{ editar_campo_cancelar_tooltip }}"
                                                    onclick="restaurar_campo('fecha', {{ tarea.id_tarea }})">{{ editar_campo_cancelar }}</button>
                                        </div>

                                    </td>
                                    </div>
                                </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                {% else %}
                    <p class="no_existe">(No se han encontrado tareas)</p>
                {% endif %}
            {% else %}
                <h1 class="tareas_title">Tareas para alumnos</h1>
                <p class="no_existe">(El curso no existe)</p>
            {% endif %}

            <p class="no_existe">(Por hacer: conectar a la base de datos con AJAX y poder añadir tareas)</p>

            <a href="/index.php?c=tareas">Volver</a>
        </div>
    </div>
{% endblock %}