{% extends "index.html.twig" %}

{% block styles %}
    <link rel="stylesheet" href="/css/tareas/tareas.css">
{% endblock %}

{% block content %}
    <div class="cuerpo">
        <div class="contenido">
            <h1 class="tareas_title">Tareas para alumnos</h1>
            <p>Seleccione un curso para mostrar las tareas correspondientes.</p>

            {% if cursos %}

                <table class="tareas_table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Turno</th>
                            <th>Ver</th>
                            <th>Editar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for curso in cursos %}
                            {% if curso.nombre_curso %}
                                <tr>
                                    <td>{{ curso.nombre_curso }}</td>
                                    <td>
                                        {% if curso.tipo == "ESO" %}E.S.O.
                                        {% elseif curso.tipo == "BACH" %}Bachillerato
                                        {% elseif curso.tipo == "FPB" %}F.P. Básica
                                        {% elseif curso.tipo == "FPGM" %}F.P. Grado Medio
                                        {% elseif curso.tipo == "FPGS" %}F.P. Grado Superior
                                        {% else %}{{ curso.tipo }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if curso.turno == "m" %}Mañana
                                        {% elseif curso.turno == "t" %}Tarde
                                        {% endif %}
                                    </td>
                                    <td><a href="/index.php?c=tareas&a={{ action_ver_curso }}&id_curso={{ curso.id_curso }}">Ver</a></td>
                                    <td><a href="/index.php?c=tareas&a={{ action_editar_curso }}&id_curso={{ curso.id_curso }}">Editar</a></td>                                </tr>
                                </tr>

                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}   
                <p class="no_existe">(No se han encontrado cursos)</p>
            {% endif %}


            <hr>
            <p class="no_existe">(Actualmente estoy usando un DAO simulado, no conecto aún a la BBDD)</p>     
            <p class="no_existe">(Los únicos cursos de los que he simulado datos es 1º ESO, 1º DAW y 2º DAW)</p>
            <p class="no_existe">(Por hacer: dependiendo de los permisos que se muestren unas cosas u otras)</p>
            <p class="no_existe">(Por hacer: que el administrador pueda añadir cursos)</p>

        </div>
    </div>
{% endblock %}


