{# empty Twig template #}
{% extends "index.html.twig" %}

{% block styles %}
    <link rel="stylesheet" href="/css/documentos/documentos.css">
    <link rel="stylesheet" href="/css/documentos/tabsDocumentos.css">   
    <link rel="stylesheet" href="/css/documentos/modal.css">   
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
     <section id="contenido" class="col-12">
        <div class="contenedor" id="container" class="col-12">
            <div class="col-12">
                <h1 class="documentos-direcion-title">Administracion documentos direccion</h1>
            </div>
           
            <div id="mantenimiento-documentos" class="col-12">	
                <div class="tab">
                    <button class="tablinks" data-element ='Categorias' id="defaultOpen">Categorias</button>
                    <button class="tablinks" data-element ='Documentos'  > Documentos</button>
                </div>  
                <div id="Categorias" class="tabcontent col-12">
                    <form name="crear-categoria" action="/index.php?c={{ constant('Utils\\Constantes::DOCUMENTOS_CONTROLLER') }}" method="post" enctype="multipart/form-data" class="col-12">
                      <input type="text" max-length="20" name="categoria" id="titulo-categoria" class="col-5 form-control " placeholder="Introduzca el nombre de la categoria a crear"/>
                      <input type="hidden" id="action" name="a" value="crear_categoria"/>
                      <div class="col-12 control-administracion">
                          <button type="submit" id="boton-crear-categoria" class="btn btn-primary boton-mantenimiento ">Crear categoria</button>
                          <button type="button" id="modificar-categoria" data-modal-target="mantener-categorias" class="btn btn-primary boton-mantenimiento open-modal">Administrar categorias </button>
                      </div>
                    </form>
                </div>

                <div id="Documentos" class="tabcontent col-12">
                    <form name="subir-documento" id="subir-documento" class="form-administracion" action="/index.php?c={{ constant('Utils\\Constantes::DOCUMENTOS_CONTROLLER') }}" method="post" enctype="multipart/form-data" class="col-12">
                      {% if categorias != null %}
                          <select class="col-6" id="select-categorias" name="idcategoria">
                              <option  value="">--Seleccione una categoria--</option>
                              {% for categoria in categorias%}
                                  <option value="{{ categoria.idCategorias }}">{{ categoria.Categoria}}</option>
                              {% endfor %}
                          </select>
                      {% endif %}
                      &nbsp;
                      <input type="file" name="archivo" id="archivo" class="col-5 form-control "></input>
                      <input type="hidden" class="action" name="a" value="upload_file"/>
                      <input type="hidden" class="hidden-categoria" name="categoria"/>
                      <div class="col-12 control-administracion">
                          <button type="button" id="boton-upload" class="btn btn-primary boton-mantenimiento ">Subir documento</button>
                          <button type="button" id="modificar-fichero" data-modal-target="mantener-documentos" class="btn btn-primary boton-mantenimiento open-modal">Administrar documentos</button>
                      </div>
                    </form>
                </div>         
            </div>
                      
            <div class="col-12">
            {% if documentos_categoria != null %}
                <ul id="lista-categorias">
                {% for documento_categoria in documentos_categoria %}
                    <li><a><h2 class="titulo-categoria" data-category-name="{{ documento_categoria.0.Categoria }}" id="{{ documento_categoria.0.idCategorias }}"><i class="fa fa-folder-open"></i>{{ documento_categoria.0.Categoria }}</h2></a>
                    {% if documento_categoria.1 != null %}
                        <ul id="lista-doc" class="{{ documento_categoria.0.Categoria }}" style="display:none;">
                            {% for documento in documento_categoria.1 %}
                                <li>
                                    <h4 data-category="{{ documento_categoria.0.idCategoria }}"><a> <i class="fa fa-file-text-o"></i>&nbsp;{{  documento.Documento }}</a></h4>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
           </div>
        </div>   
    </section>
            
        <div id="mantener-categorias" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <h2>Mantenimiento de categorias</h2>
                    <span data-modal="mantener-categorias" class="close-modal">&times;</span>
                </div>
                <div class="modal-body">
                    <div class="tab">
                        <button class="tablinks" data-element='modificar-category' id="defaultModalCategoria">Modificar categoría</button>
                        <button class="tablinks" data-element='borrar-category'> Borrar categoría</button>
                    </div>
                    <div id="modificar-category" class="tabcontent col-12" >
                        <form name="update-categoria"  id="update-categoria"  action="/index.php?c={{ constant('Utils\\Constantes::DOCUMENTOS_CONTROLLER') }}" method="post" enctype="multipart/form-data" class="col-12">
                            {% if categorias != null %}
                                <select class="col-5" id="categoria-modificar"  name="idcategoria">
                                    <option value="">--Seleccione una categoria--</option>
                                    {% for categoria in categorias%}
                                        <option value="{{ categoria.idCategorias }}">{{ categoria.Categoria}}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                         
                          <input type="text" max-length="20"  id="titulo-categoria" class="col-5 form-control input-right" name="categoria" placeholder="Introduzca el nombre de la nueva categoria"/>
                          <input type="hidden" id="action-modificar" name="a" value="modificar_categoria"/>
                          <input type="hidden" id="hidden-categoria-modificar" name="categoria_antigua" value=""/>
                          <div class="col-12 control-administracion">
                              <button type="button" id="boton-actualizar-categoria" class="btn btn-primary boton-mantenimiento ">Actualizar categoria</button>
                          </div>
                        </form>
                    </div>
                    <div id="borrar-category" class="tabcontent col-12" >
                        <form name="borrar-categoria" id="borrar-categoria" action="/index.php?c={{ constant('Utils\\Constantes::DOCUMENTOS_CONTROLLER') }}" method="post" enctype="multipart/form-data" class="col-12">
                            {% if categorias != null %}
                                <select class="col-5"  id="select-borrar-categoria" name="idcategoria">
                                    <option value="">--Seleccione una categoria--</option>
                                    {% for categoria in categorias%}
                                        <option value="{{ categoria.idCategorias }}">{{ categoria.Categoria}}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                          <input type="hidden" id="action-borrar" name="a" value="borrar_categoria"/>
                          <input type="hidden" id="hidden-categoria-borrar" name="categoria" value=""/>
                          <div class="col-12 control-administracion">
                              <button type="button" id="boton-borrar-categoria" data-modal-target="confirm_borrar_categoria" class="btn btn-primary boton-mantenimiento open-modal">Borrar categoria</button>
                          </div>
                        </form>
                    </div>      
                </div>
            </div>
        </div>
        
        <div id="mantener-documentos" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <h2>Mantenimiento de documentos</h2>
                    <span data-modal="mantener-documentos" class="close-modal">&times;</span>
                </div>
                <div class="modal-body">
                    <div class="tab">
                        <button class="tablinks" data-element='modificar-document' id="defaultModalDoc">Modificar documento</button>
                        <button class="tablinks" data-element='borrar-document'> Borrar documento</button>
                    </div>
                    <div id="modificar-document" class="tabcontent col-12" >
                        <form name="modificar-documento" id="modificar-documento" action="/index.php?c={{ constant('Utils\\Constantes::DOCUMENTOS_CONTROLLER') }}" method="post" enctype="multipart/form-data" class="col-12">
                            {% if categorias != null %}
                                <select class="col-5 " id="select-categoria-doc-modificar" name="idcategoria">
                                    <option value="">--Seleccione una categoria--</option>
                                    {% for categoria in categorias%}
                                        <option value="{{ categoria.idCategorias }}">{{ categoria.Categoria}}</option>
                                    {% endfor %}
                                </select>
                                
                                <select class="col-5  select-doc input-right" id="select-doc-modificar" name="iddocumento">
                                </select>
                            {% endif %}
                            <!-- AJAX PARA MOSTRAR LOS DOCUMENTOS DE LA CATEGORIA -->
                            </br>
                            </br></br>
                            
                          <input type="text" max-length="20"  id="nombre-documento" name="documento" class="col-5 form-control" placeholder="Introduzca el nombre del nuevo documento"/>
                          <input type="hidden" id="action-modificar" name="a" value="modificar_fichero"/>
                          <input type="hidden" id="documento_antiguo" name="fichero_antiguo" value=""/>
                          <input type="hidden" id="categoria-fichero" name="categoria" value=""/>
                          <div class="col-12 control-administracion">
                              <button type="button" id="boton-actualizar-documento" class="btn btn-primary boton-mantenimiento ">Actualizar documento</button>
                          </div>
                        </form>
                    </div>
                    <div id="borrar-document" class="tabcontent col-12" >
                        <form name="borrar-documento" action="/index.php?c={{ constant('Utils\\Constantes::DOCUMENTOS_CONTROLLER') }}" method="post" enctype="multipart/form-data" class="col-12">
                            {% if categorias != null %}
                                <select class="col-5 select-categoria-doc" id="select-categoria-doc-borrar" name="idcategoria">
                                    <option value="">--Seleccione una categoria--</option>
                                    {% for categoria in categorias%}
                                        <option value="{{ categoria.idCategorias }}">{{ categoria.Categoria}}</option>
                                    {% endfor %}
                                </select>
                                <select class="col-5  select-doc" id="select-doc-borrar" name="iddocumento">
                                </select>
                            {% endif %}
                          <input type="hidden" id="action-borrar" name="a" value="s"/>
                          <div class="col-12 control-administracion">
                              <button type="button" id="boton-borrar-documento" class="btn btn-primary boton-mantenimiento ">Borrar documento</button>
                          </div>
                        </form>
                    </div>      
                </div>
            </div>
        </div>
                          
        <div id="confirm_borrar_categoria" class="modal">
            <div class="modal-content">
                <div class="modal-header">
                    
                    <h2>Borrar categoria</h2>
                    <span data-modal="confirm_borrar_categoria" class="close-modal">&times;</span>
                </div>
                <div class="modal-body">
                    <h2>La categoria que intenta borrar puede contener documentos estas seguro de borrarla?</h2>
                    <div class="col-12 control-administracion">
                        <button type="button" id="btn-borrar-categoria" class="btn btn-primary boton-mantenimiento ">Aceptar</button>
                        <button type="button" id="cerrar-borrar-categoria" data-modal="confirm_borrar_categoria" class="btn btn-primary boton-mantenimientos">Rechazar</button>
                    </div>
                </div>
            </div>
        </div>
                            
{% endblock %}

{% block scripts %}
    <script src="/js/documentos/documentos.js"></script>
    <script src="/js/documentos/modal.js"></script>
    <script src="/js/documentos/tabsDocumentos.js"></script>
    <script src="bootstrap-notify-master/bootstrap-notify-master/bootstrap-notify.js"></script>
{% endblock %}
 