{% extends "index.html.twig" %}

{% block content %}
    <button id="btnAgregarIncidencia" type="button" class="center-button boton-contenido col-4">Agregar incidencia
    </button>
    <table id="incidencias" class="display" data-stripe-classes="[]">
        <thead>
        <tr>
            <th></th>
            <th>Incidencia</th>
            <th>Solicitado por</th>
            <th>Estado</th>
            <th>Departamento</th>
            {% if permiso == "ADMIN" %}
                <th></th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for incidencia in incidencias %}
            <tr class="estado-{{ incidencia.estado }}">
                <td>{{ incidencia.fecha }}</td>
                <td>{{ incidencia.nombre }}</td>
                <td>{{ incidencia.solicitado_por }}</td>
                <td>
                    {% if incidencia.estado == "proceso" %}
                        <img src="/img/maintenance/process.png"/> En proceso.
                    {% elseif incidencia.estado == "completado" %}
                        <img src="/img/maintenance/complete.png"/> Completado.
                    {% elseif incidencia.estado == "sinempezar" %}
                        <img src="/img/maintenance/alarm.png"/> Sin empezar.
                    {% else %}
                        <img src="/img/maintenance/unknown.png"/> Desconocido.
                    {% endif %}
                </td>
                <td>{{ incidencia.departamento }}</td>
                {% if permiso == "ADMIN" %}
                    <td>
                    {% if incidencia.estado != "completado" and permiso == "ADMIN" %}
                        <div class="dropdown">
                            <button class="boton-contenido">Marcar como...</button>
                            <div class="dropdown-content">
                                <a href="/index.php?c=maintenance&{{ action }}={{ mark_as }}&id={{ incidencia.id }}&status=completado">Completado</a>
                                <a href="/index.php?c=maintenance&{{ action }}={{ mark_as }}&id={{ incidencia.id }}&status=proceso">En
                                    proceso</a>
                                <a href="/index.php?c=maintenance&{{ action }}={{ mark_as }}&id={{ incidencia.id }}&status=sinempezar">Sin
                                    empezar</a>
                            </div>
                        </div>
                    {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div id="agregarIncidencia" class="modal">

        <<!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close-modal">&times;</span>
                <h2>Agregar incidencia</h2>
            </div>
            <div class="modal-body">
                <p>Some text in the Modal Body</p>
                <p>Some other text...</p>
            </div>
            <div class="modal-footer">
                <h3>Modal Footer</h3>
            </div>
        </div>
    </div>

{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.16/r-2.2.1/datatables.min.css"/>
    <link rel="stylesheet" href="/css/maintenance/crud.css">
    <link rel="stylesheet" href="/css/maintenance/modales.css">
{% endblock %}
{% block scripts %}
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.16/r-2.2.1/datatables.min.js"></script>
    <script src="/js/maintenance/crud.js"></script>
    <script src="/js/maintenance/modales.js"></script>
{% endblock %}
