{# empty Twig template #}
{% extends "index.html.twig" %}
{% block content %}
    {% include 'bolsaTrabajo/menu-bolsa-trabajo.html.twig' %}
    <div class="p-2">
        <div class="container">
            <div class="row">
                <div class="col-md-4 border rounded">
                    <h3 class="" contenteditable="false">Opciones de Filtración</h3>
                    <p class="lead">Ciclo Formativo</p>
                    <form id="form_filtrar_ofertas" class="">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="fp_oferta" id="" value="0" checked>
                            <label class="form-check-label" for="exampleRadios1"> Todas las Ofertas</label>
                        </div>
                        {% for estudios in FP_ESTUDIOS.FP_ESTUDIOS %}

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="fp_oferta"
                                       value="{{ estudios.ID_FP }}">
                                <label class="form-check-label">{{ estudios.TITULO }} </label>
                            </div>

                        {% endfor %}

                        <p class="lead">Fecha</p>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="orden" id="" value="DESC"
                                   checked="">
                            <label class="form-check-label" for="exampleRadios1"> Más recientes </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="orden" id="" value="ASC">
                            <label class="form-check-label" for="exampleRadios1"> Más antiguos</label>
                        </div>
                        <button type="submit" id="filtrar_ofertas" class="btn btn-primary btn-sm btn-block m-1">Aplicar filtro</button>
                    </form>
                </div>
                <div class="col-md-8">
                    <h1 class="">Ofertas de trabajo</h1>
                    <div class="list-group">

                        {% set estado = 'active' %}
                        {% set i = 0 %}
                        {% for oferta in OFERTAS_DB %}

                            {% if i % 2 == 0 %}
                                {% set estado = '' %}
                            {% else %}
                                {% set estado = 'active' %}
                            {% endif %}

                            <a href="index.php?c=bolsa_trabajo&a=ver_oferta&id_oferta={{ oferta.ID_OFERTA }}"
                               class="list-group-item list-group-item-action flex-column align-items-start {{ estado }}">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ oferta.TITULO }}</h5>
                                    <small>{{ oferta.CREACION }}</small>
                                </div>
                                <p class="mb-1">{{ oferta.DESCRIPCION }}</p>
                                <small>Donec id elit non mi porta.</small>
                            </a>

                            {% set i = i+1 %}
                        {% endfor %}
                    </div>
                    <ul class="pagination d-flex justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <span>«</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <span>»</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                    <div id="pagination-demo2"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="http://pagination.js.org/dist/2.1.2/pagination.css"
          type="text/css">
    <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://pagination.js.org/dist/2.1.2/pagination.js"></script>
    <script src="js/bolsaTrabajo/principal.js"></script>
    <script src="js/bolsaTrabajo/funciones_comunes.js"></script>

{% endblock %}
