{# empty Twig template #}
{% extends "index.html.twig" %}

{% block content %}
    <div id="build_modal"></div>
    <div class="py-4">
        <div class="contenedor">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="display-4">Datos Personales</h1>
                    <h1 class=""
                        id="nombre_persona">{{ PERFIL_DATA[0].NOMBRE |e }} {{ PERFIL_DATA[0].APELLIDOS |escape }}</h1>
                    <p class="lead">Ciclos Formativos:</p>
                    <ul class="">
                        <li>{{ PERFIL_DATA[0].FP_CODE |escape }}</li>
                    </ul>
                    <p class="lead">Información</p>
                    <p class="" id="comentario_persona">{{ PERFIL_DATA[0].COMENTARIO |escape }}</p>
                    <p class="lead">Experiencia</p>
                    <p class="" id="experiencia_persona">{{ PERFIL_DATA[0].EXPERIENCIA |escape }}</p>
                    <p class="lead">Perfíl Externo</p>
                    <a class="" href="{{ PERFIL_DATA[0].PERFIL_EXTERNO |escape }}" target="_blank"
                       id="perfil_externo_persona">{{ PERFIL_DATA[0].PERFIL_EXTERNO |escape }}</a>
                    <p class="lead">Enlaces de Interés</p>
                    <a class="" href="{{ PERFIL_DATA[0].LINK_INTERES |escape }}"
                       target="_blank" id="enlace_persona">{{ PERFIL_DATA[0].LINK_INTERES |escape }}</a>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid d-block rounded mx-auto" src="
                     {% set imgurl = "img/user.png" %}
                                 {% if PERFIL_DATA[0].FOTO == null or PERFIL_DATA[0].FOTO == "" %}
                                 {{ imgurl }}
                                 {% else %}
                                 {{ PERFIL_DATA[0].FOTO }}
                                 {% endif %}
                     " width="70%"
                         height="auto" id="foto_persona"/>

                    <p class="lead ">Situación Laboral</p>

                    <p class="lead my-1">Trabajo:</p>
                    <p class="text-primary" id="busca_persona">{{ PERFIL_DATA[0].BUSCA_TRABAJO |escape }}</p>
                    <p class="lead">Ofertas de Trabajo:</p>
                    <p class="text-primary" id="interesado_persona">{{ PERFIL_DATA[0].RECIBIR_OFERTAS |escape }}</p>
                    <div class="blockquote text-secondary">
                        <p class="text-left my-0">Perfil Actualizado:</p>
                        <div class="blockquote-footer my-0">{{ PERFIL_DATA[0].ULTIMA_EDICION }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    {% include 'bolsaTrabajo/scripts-comunes.html.twig' %}


    <script src="js/bolsaTrabajo/mis_ofertas.js"></script>

{% endblock %}
