{# empty Twig template #}
{% extends "index.html.twig" %}

{% block content %}

    <div class="p-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8 border border-info border border-info rounded">
                    <h2 id="titulo_oferta" contenteditable="false">{{ TITULO }}</h2>
                    <h5 class="text-secondary">Descripción</h5>
                    <p class="border border-info rounded" id="descripcion_oferta">{{ DESCRIPCION }}</p>
                    <h5 class="text-secondary">Requisitos</h5>
                    <p class="border border-info rounded" id="requisitos_oferta">{{ REQUISITOS }}</p>
                    <h5 class="text-secondary">Ciclos Compatibles con la oferta</h5>
                    <ul class="">
                        {% for fp in FPTARGETS %}
                            <li class="border border-info rounded" id="fp_oferta"> {{ fp.TITULO }} </li>
                        {% endfor %}

                    </ul>
                    <h5 class="text-secondary">Empresa Responsable</h5>
                    <p class="border border-info rounded" id="empresa_oferta">{{ EMPRESA }}</p>
                    <h5 class="text-secondary">Web del anunciante/Enlace con información relevante</h5>
                    <p class="border border-info rounded" id="web_oferta">{{ WEB }}</p>
                    <h5 class="text-secondary">E-mail de contacto</h5>
                    <p class="border border-info rounded" id="email_oferta">{{ EMAIL }}</p>
                    <h5 class="text-secondary">Teléfono de contacto</h5>
                    <p class="border border-info rounded" id="telefono_oferta">{{ TELEFONO }}</p>
                    <h5 class="text-secondary">Número de Vacantes Disponibles</h5>
                    <p class="border border-info rounded" id="vacante_oferta">{{ VACANTES }}</p>
                    <h5 class="text-secondary">Salario mensual aproximado [€]</h5>
                    <p class="border border-info rounded" id="salario_oferta">{{ SALARIO }}</p>
                    <h5 class="text-secondary">Localización</h5>
                    <p class="border border-info rounded" id="localizacion_oferta">{{ LOCALIZACION }}</p>
                    <h5 class="text-secondary">Fecha de Creación Oferta</h5>
                    <p class="border border-info rounded" id="creacion_oferta">{{ CREACION }}</p>
                </div>
                <div class="col-md-4">
                    <h3 class="">Estas Interesad@ en esta Oferta de Trabajo?</h3>
                    <p class="">No esperes más y ponte en contacto con la persona responsable, otr@ lo pudo haber hecho
                        ya.
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <script src="js/bolsaTrabajo/crear_oferta.js"></script>

{% endblock %}
