{# empty Twig template #}
{% extends "index.html.twig" %}

{% block content %}
    <div id="build_modal_response"></div>
    <div class="p-2">
        <div class="">
            <div class="row contenedor">
                <div class="col-md-8 bg-white border border-info border border-info rounded">
                    <h2 id="titulo_oferta" contenteditable="false">{{ TITULO }}</h2>
                    <h5 class="text-secondary">Descripción</h5>
                    <p class=" border-info rounded" id="descripcion_oferta">{{ DESCRIPCION }}</p>
                    <h5 class="text-secondary">Requisitos</h5>
                    <p class="border-info rounded" id="requisitos_oferta">{{ REQUISITOS }}</p>
                    <h5 class="text-secondary">Ciclos Compatibles con la oferta</h5>
                    <ul class="list-group">
                        {% for fp in FPTARGETS %}
                            <li class="list-group-item" id="fp_oferta"> {{ fp.TITULO }} </li>
                        {% endfor %}

                    </ul>
                    <h5 class="text-secondary">Empresa Responsable</h5>
                    <p class=" border-info rounded" id="empresa_oferta">{{ EMPRESA }}</p>
                    <h5 class="text-secondary">Web del anunciante/Enlace con información relevante</h5>
                    <p class=" border-info rounded" id="web_oferta">
                        <a target="_blank" href="{{ WEB }}">{{ WEB }}</a></p>
                    <h5 class="text-secondary">E-mail de contacto</h5>
                    <p class=" border-info rounded" id="email_oferta">{{ EMAIL }}</p>
                    <h5 class="text-secondary">Teléfono de contacto</h5>
                    <p class=" border-info rounded" id="telefono_oferta">{{ TELEFONO }}</p>
                    <h5 class="text-secondary">Número de Vacantes Disponibles</h5>
                    <p class=" border-info rounded" id="vacante_oferta">{{ VACANTES }}</p>
                    <h5 class="text-secondary">Salario</h5>
                    <p class=" border-info rounded" id="salario_oferta">{{ SALARIO }}</p>
                    <h5 class="text-secondary">Localización</h5>
                    <p class=" border-info rounded" id="localizacion_oferta">{{ LOCALIZACION }}</p>
                    <h5 class="text-secondary">Fecha de Creación Oferta</h5>
                    <p class=" border-info rounded" id="creacion_oferta">{{ CREACION }}</p>
                </div>
                <div class="col-md-4">
                    <h3 class="">Estas Interesad@ en esta Oferta de Trabajo?</h3>
                    <p class="">No esperes más y ponte en contacto con la persona responsable, otr@ lo pudo haber hecho
                        ya.
                        <br>
                        <br>
                    </p>
                    <input type="hidden" id="id_oferta" value="{{ ID_OFERTA }}"/>
                    <a class="btn  fa fa-envelope btn-primary text-uppercase d-flex justify-content-center py-2 btn-lg"
                       href="#" id="id_apuntarse">&nbsp; Apúntame</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    {% include 'bolsaTrabajo/scripts-comunes.html.twig' %}

    <script src="js/bolsaTrabajo/ver_oferta.js"></script>

{% endblock %}
