{# empty Twig template #}
{% extends "index.html.twig" %}

{% block content %}
    <div class="cuerpoCrud">
    <div class="contenedor colorCrud">
        <div class="listadoIzquierda">  
            <h1>Listado de Usuarios:</h1>
            
                {% if mensaje != null %}
                    <h2 id="mensajeCrud">{{ mensaje }}</h2>
                    <script>
                        $(document).ready(function(){
                            setTimeout(function(){ $("#mensajeCrud").fadeOut("slow"); }, 5000);
                        });
                            
                    </script>
                {% endif %}
                    {% if mensajeError != null %}
                        <h2 id="mensajeError">{{ mensajeError }}</h2>
                        <script>
                            $(document).ready(function(){
                                setTimeout(function(){ $("#mensajeError").fadeOut("slow"); }, 5000);
                            });

                        </script>
                    {% endif %}
        </div>
        <script>
            function cargarUser(id,nombre,apellidos,telefono,email,nick,id_rol){
                document.getElementById("id_user").value=id;
                document.getElementById("nombre_user").value=nombre;
                document.getElementById("apellidos_user").value=apellidos; 
                document.getElementById("telefono_user").value=telefono;
                document.getElementById("email_user").value=email;
                document.getElementById("nick_user").value=nick;
                document.getElementById("id_rol").value=id_rol;
            }
        
        </script>
        
        
        
        <div class="modificarDerecha">
            <div class="divDescarga">

                <a href="#viajarUsuarios"><img class="imgDescarga" src="/img/crudUsers/descarga.png">modificar usuarios</a>
            </div>
            
        </div>
        <div class="tabla1">
            {% if usuarios != null %}
                <table class="table table-striped" id="tabla">
                    <thead>
                        <tr>
                            <th><span>Cargar Usuario</span></th>
                            <th><span>Permiso</span></th>
                            <th><span>Nombre</span></th>
                            <th><span>Apellidos</span></th>
                            <th><span>Teléfono</span></th>
                            <th><span>Email</span></th>
                            <th><span>Nick</span></th>
                            <th><span>Último Acceso</span></th>
                            <th><span>Activado</span></th>   
                        </tr>
                    </thead>
                    {% for user in usuarios %}
                    <tbody>
                        <tr>
                            <td>
                                <input type="button" value="cargar" 
                               onclick="cargarUser({{ user.id }}, '{{ user.nombre }}', 
                                           '{{ user.apellidos }}','{{ user.telefono }}',
                                           '{{ user.email }}',
                                           '{{ user.nick }}','{{ user.id_rol }}')"/></td>
                            <td class="colorTD">{{ user.id_rol }}</td>
                            <td class="colorTD">{{ user.nombre }}</td>
                            <td>{{ user.apellidos }}</td>
                            <td>{{ user.telefono }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.nick }}</td>
                            <td>{{ user.ultimo_acceso }}</td>
                            <td>{{ user.activado }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                    <tfoot>
                        <tr>
                            <th><span>Cargar Usuario</span></th>
                            <th><span>Permiso</span></th>
                            <th><span>Nombre</span></th>
                            <th><span>Apellidos</span></th>
                            <th><span>Teléfono</span></th>
                            <th><span>Email</span></th>
                            <th><span>Nick</span></th>
                            <th><span>Último Acceso</span></th>
                            <th><span>Activado</span></th>   
                        </tr>
                    </tfoot>
                </table>
            {% else %}
                <h1>&nbspNo hay usuarios</h1>
            {% endif %}
        </div>
    </div>    
    <div class="contenedor colorCrud modUsers"> 
        
            <div class="listadoIzquierda">
        <h1>Modificar Usuarios</h1><a name="viajarUsuarios"></a>
            </div>
        <div class="modificarDerecha">
            <div class="divDescarga">

                <a href="#subirMenu"><img class="imgDescarga" src="/img/crudUsers/descarga.png">volver a menú</a>
            </div>
            
        </div>
    <div class="contForm">
        <form action="index.php" method="post" id="crud_users">
            <input type="hidden" name="c" value="crud_users">
            <input type="hidden" id="id_user" name="id"> 

            <div class="col-12 col-sm-6 col-lg-4 form-group">
                <label for="nombre_user">NOMBRE:</label>
                <input type="text" id="nombre_user" name="nombre" placeholder="nombre" class="form-control" required>
            </div>
            
            <div class="col-12 col-sm-6 col-lg-4 form-group">
                <label for="apellidos_user">APELLIDOS:</label>
                <input type="text" id="apellidos_user" name="apellidos" placeholder="apellidos" class="form-control">
            </div>
            
            <div class="col-12 col-sm-6 col-lg-4 form-group">
                <label for="telefono_user">TELEFONO:</label>
                <input type="text" id="telefono_user" name="telefono" placeholder="telefono" class="form-control">
            </div>
            
            <div class="col-12 col-sm-6 col-lg-4 form-group">
                <label for="email_user">EMAIL:</label>
                <input type="text" id="email_user" name="email" placeholder="email" class="form-control">
            </div>
            
            <div class="col-12 col-sm-6 col-lg-4 form-group">
                <label for="nick_user">NICK:</label>
                <input type="text" id="nick_user" name="nick" placeholder="nick" class="form-control">
            </div>
            
            <div class="col-12 col-sm-6 col-lg-4 form-group">
                <label for="pass_user">PASS:</label>
                <input type="password" id="pass_user" name="pass" placeholder="pass" class="form-control">
            </div>
            
            <div class="col-12 form-group">
                <label for="id_rol">PERMISO:</label>
                <select id="id_rol" name="id_rol" class="form-control" required>
                    <option disabled selected>Selecciona un permiso...</option>
                    {% for permiso in permisos %}
                        <option value="{{ permiso.id_rol }}">{{ permiso.descripcion }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="col-12 col-sm-6 col-lg-4 form-group">
                <input type="submit" name="a" value="insert" class="boton-contenido">
            </div>
            
            <div class="col-12 col-sm-6 col-lg-4 form-group">
                <input type="submit" name="a" value="update" class="boton-contenido">
            </div>
            
            <div class="col-12 col-sm-6 col-lg-4 form-group">
                <input type="submit" name="a" value="delete" class="boton-contenido">
            </div>
        </form>
        </div>
        </div>
    </div>
        
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}

